#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

#ifndef KEYMAP_DRAWER

#include "keys_de.h"
#include "rgb.h"

#define MUTE_MIC LG(LA(DE_K))

#define SCREENSHOT_WIN LG(PRINTSCREEN)
#define SS_WIN SCREENSHOT_WIN

#define SCREENSHOT_SELECT_WIN LG(LS(DE_S))
#define SSS_WIN SCREENSHOT_SELECT_WIN

#define CAPTURE_SCREEN_RECORDING_WIN LG(LS(DE_R))
#define CSR_WIN CAPTURE_SCREEN_RECORDING_WIN

#define COPILOT LG(LS(F23))

// intellij idea shortcuts
#define IJ_COMMIT_PUSH LC(LA(DE_K))
#define IJ_PUSH_MENU   LA(DE_P)
#define IJ_FORMAT      LC(LS(DE_F))
#define IJ_REPLACE     LC(LS(DE_H))
#define IJ_OPTIM_IMP   LC(LS(DE_O))

#endif // KEYMAP_DRAWER

#include "corne_choc_pro-labels.h"

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

&lt {
    tapping-term-ms = <280>; // default 200
    flavor = "balanced";
    quick-tap-ms = <175>;
};

&mt {
    tapping-term-ms = <280>; // default 200
    flavor = "balanced";
};

&caps_word {
    continue-list = <DE_UNDERSCORE DE_MINUS DE_O_UMLAUT DE_A_UMLAUT DE_U_UMLAUT DE_SHARP_S>;
};

#define STRINGIFY(x) #x

// layers
#define QWERTZ          0
#define QWERTZ_UML      1
#define QWERTZ_DE       2
#define COLEMAK         3
#define COLEMAK_UML     4
#define BUT             5
#define NUM_NAV         6
#define SYMBOL          7
#define QWERTZ_NUM      8
#define FUNCTION        9
#define MOUSE           10
#define SYSTEM          11

// see https://github.com/urob/zmk-config#timeless-homerow-mods

#define QUICK_TAP_MS 175

#define HOME_ROW_MOD(NAME, HOLD_BINDING, TAP_BINDING, TRIGGER_POS)  \
    NAME: NAME {                                                    \
        compatible = "zmk,behavior-hold-tap";                       \
        #binding-cells = <2>;                                       \
        bindings = <HOLD_BINDING>, <TAP_BINDING>;                   \
        flavor = "balanced";                                        \
        tapping-term-ms = <280>;                                    \
        quick-tap-ms = <QUICK_TAP_MS>;                              \
        require-prior-idle-ms = <150>;                              \
        hold-trigger-on-release;                                    \
        hold-trigger-key-positions = <TRIGGER_POS>;                 \
    };

#define MORPH(NAME, FROM_KEY, TO_KEY, MODS)             \
    /omit-if-no-ref/ NAME: NAME {                       \
        compatible = "zmk,behavior-mod-morph";          \
        #binding-cells = <0>;                           \
        bindings = <&kp FROM_KEY>, <&kp TO_KEY>;        \
        mods = <(MODS)>;                                \
    };

#define MOD_ANY MOD_LSFT|MOD_RSFT|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI

#define TAP_DANCE_3(NAME, K1, K2, K3) \
    NAME: NAME {                                        \
        compatible = "zmk,behavior-tap-dance";          \
        #binding-cells = <0>;                           \
        tapping-term-ms = <200>;                        \
        bindings = <K1>, <K2>, <K3>;                    \
    };


/ {
    behaviors {
        HOME_ROW_MOD(hml, &kp, &kp, KEYS_RIGHT KEYS_THUMB)
        HOME_ROW_MOD(hmr, &kp, &kp, KEYS_LEFT KEYS_THUMB)

        // see https://github.com/zmkfirmware/zmk/issues/544
        // HOME_ROW_MOD(hml_skq, &kp, &skq, KEYS_RIGHT KEYS_THUMB)
        // HOME_ROW_MOD(hmr_skq, &kp, &skq, KEYS_LEFT KEYS_THUMB)
        // HOME_ROW_MOD(hml_sl, &kp, &sl, KEYS_RIGHT KEYS_THUMB)
        // HOME_ROW_MOD(hmr_sl, &kp, &sl, KEYS_LEFT KEYS_THUMB)

        MORPH(prev_next,    C_PREV, C_NEXT, MOD_ANY)
        MORPH(spc_bspc,     SPACE,  BSPC,   MOD_ANY)
        MORPH(bspc_spc,     BSPC,   SPACE,  MOD_ANY)
        MORPH(ret_del,      RET,    DEL,    MOD_ANY)
        MORPH(bspc_del,     BSPC,   DEL,    MOD_ANY)

        MORPH(left_right,   LEFT, RIGHT,  MOD_LSFT|MOD_RSFT)

        TAP_DANCE_3(td_sys_reset,   &none, &none, &sys_reset)
        TAP_DANCE_3(td_bt_clr,      &none, &none, &bt BT_CLR)
        TAP_DANCE_3(td_bootloader,  &none, &none, &bootloader)

        /omit-if-no-ref/ mo_sl: momentary_sticky_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <QUICK_TAP_MS>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&sl>;
        };

        /omit-if-no-ref/ mt_sl: hold_key_sticky_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <QUICK_TAP_MS>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&sl>;
        };

        /omit-if-no-ref/ mt_sk: momentary_sticky_key {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <QUICK_TAP_MS>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&sk>;
        };

        mt_kt: toggle_or_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <QUICK_TAP_MS>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kt>;
        };

        mo_sk: hold_layer_tap_sticky_key {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&sk>;
        };

        kt_off: toggle_off {
            compatible = "zmk,behavior-key-toggle";
            #binding-cells = <1>;
            display-name = "Key Toggle Off";
            toggle-mode = "off";
        };

        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            quick-release;
            ignore-modifiers;
            release-after-ms = <1000>;
        };
    };

    macros {
        // Used by layer-listener to ensure toggled shift is turned off when leaving NAV layer
        reset_num_nav: reset_num_nav {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt_off LSHFT>;
        };
    };

    layer_listeners {
        // see https://github.com/ssbb/zmk-listeners/tree/v1
        compatible = "zmk,layer-listeners";

        num_nav_reset {
            layers = <NUM_NAV>;
            bindings = <&none &reset_num_nav>;
        };
    };


#define COMBO_TIMEOUT_ROLL   45
#define COMBO_TIMEOUT_SAME   50
#define COMBO_IDLE_ROLL      150

#define COMBO_ROLL(NAME, KEYS, BINDINGS, LAYERS) \
    NAME { \
        key-positions = <KEYS>; \
        bindings = <BINDINGS>; \
        layers = <LAYERS>; \
        slow-release; \
        timeout-ms = <COMBO_TIMEOUT_ROLL>; \
        require-prior-idle-ms = <COMBO_IDLE_ROLL>; \
    };

#define COMBO_UMLAUT(NAME, KEYS, BINDING, LAYERS) \
    NAME { \
        key-positions = <KEYS>; \
        bindings = <&kp BINDING>; \
        layers = <LAYERS>; \
        slow-release; \
        timeout-ms = <75>; \
        require-prior-idle-ms = <150>; \
    };

#define COMBO_THUMB_TOG(NAME, KEYS, TOG_LAYER, LAYERS) \
    NAME { \
        key-positions = <KEYS>; \
        bindings = <&tog TOG_LAYER>; \
        layers = <LAYERS>; \
        slow-release; \
        timeout-ms = <COMBO_TIMEOUT_SAME>; \
    };

    combos {
        compatible = "zmk,combos";

        // see https://github.com/zmkfirmware/zmk/issues/544
        COMBO_ROLL(combo_qw_de_sz_left, LM3 LM4, &hml LS(LALT) DE_SZ,  QWERTZ_DE COLEMAK)      // qwertz sd
        COMBO_ROLL(combo_qw_de_sz_top,  RT3 RT4, &kp DE_SZ,            QWERTZ_DE COLEMAK)      // qwertz io
        COMBO_ROLL(combo_qmark,         RB4 RB5, &kp DE_QMARK,         QWERTZ_DE COLEMAK BUT)  // qwertz .-

        // if we ever want to go back to shift combos on home row mods
        // COMBO_ROLL(combo_sshft_l1,  LM3 LM2, &hml_skq LS(LCTRL) LSHFT,  QWERTZ_DE COLEMAK BUT)  // qwertz df
        // COMBO_ROLL(combo_sshft_l2,  LM5 LM4, &hml_skq LG(LALT) LSHFT,   QWERTZ_DE COLEMAK BUT)  // qwertz as
        // COMBO_ROLL(combo_sshft_r,   RM2 RM3, &hmr_skq RS(RCTRL) RSHFT,  QWERTZ_DE COLEMAK BUT)  // qwertz jk
        
        COMBO_UMLAUT(combo_qw_u_uml, RT2 RM5, DE_U_UMLAUT, QWERTZ)
        COMBO_UMLAUT(combo_qw_o_uml, RT4 RM5, DE_O_UMLAUT, QWERTZ)
        COMBO_UMLAUT(combo_qw_a_uml, LM5 RM5, DE_A_UMLAUT, QWERTZ)
        COMBO_UMLAUT(combo_qw_sz,    LM4 RM5, DE_SZ,       QWERTZ)

        COMBO_THUMB_TOG(combo_mouse_tog,    RH1 RH2, MOUSE,     QWERTZ QWERTZ_UML QWERTZ_DE COLEMAK BUT)
        COMBO_THUMB_TOG(combo_sym_tog,      RH0 RH1, SYMBOL,    QWERTZ QWERTZ_UML QWERTZ_DE COLEMAK BUT SYMBOL)
        COMBO_THUMB_TOG(combo_numnav_tog,   LH0 LH1, NUM_NAV,   QWERTZ QWERTZ_UML QWERTZ_DE COLEMAK BUT NUM_NAV)
    };
};


// the default definitions for COPY, PASTE, CUT, UNDO are useless in anything but Linux
#define COPY_  LC(DE_C)
#define PASTE_ LC(DE_V)
#define CUT_   LC(DE_X)
#define UNDO_  LC(DE_Z)

#define XXX &none  
#define ___ &trans

// Base layers with different layouts, GASC/CASG home row mods and layer switches on the outside and thumbs
#define BASE_ROW(K0, K1, K2, K3, K4) &kp K0 &kp K1 &kp K2 &kp K3 &kp K4

#define BASE_LT6    &mt LALT ESC
#define BASE_LT0    &kp MUTE_MIC
#define BASE_RT0    &kp DE_DOUBLE_QUOTES
#define BASE_LM6    &lt SYMBOL TAB
#define BASE_LM0    &none
#define BASE_RM0    &left_right
#define BASE_LB6    &mt_sk LSHFT LSHFT
#define BASE_LH     &mt_sl LCTRL SYMBOL  &mo_sk NUM_NAV LSHFT    &kp BSPC
#define BASE_RH     &kp SPC              &lt SYMBOL RET          &lt FUNCTION TAB

#define UML_RT6 &mt RGUI DE_EXCL
#define UML_RM6 &lt NUM_NAV DE_QMARK
#define UML_RB6 &mt_sk RSHFT RSHFT

// GASC / CASG home row mods
#define BASE_LAYER(NAME, DISPLAY_NAME, \
    LT5, LT4, LT3, LT2, LT1,  RT1, RT2, RT3, RT4, RT5, RT6, \
    LM5, LM4, LM3, LM2, LM1,  RM1, RM2, RM3, RM4, RM5, RM6, \
    LB5, LB4, LB3, LB2, LB1,  RB1, RB2, RB3, RB4, RB5, RB6  \
) \
    NAME ## _layer { \
        display-name = DISPLAY_NAME; \
        bindings = < \
BASE_LT6 &kp DE_##LT5       &kp DE_##LT4       &kp DE_##LT3        &kp DE_##LT2        &kp DE_##LT1 BASE_LT0 /**/ BASE_RT0 &kp DE_##RT1 &kp DE_##RT2        &kp DE_##RT3        &kp DE_##RT4       &kp DE_##RT5       &kp DE_##RT6 \
BASE_LM6 &hml LGUI DE_##LM5 &hml LALT DE_##LM4 &hml LSHFT DE_##LM3 &hml LCTRL DE_##LM2 &kp DE_##LM1 BASE_LM0 /**/ BASE_RM0 &kp DE_##RM1 &hmr RCTRL DE_##RM2 &hmr RSHFT DE_##RM3 &hmr RALT DE_##RM4 &hmr RGUI DE_##RM5 &lt NUM_NAV DE_##RM6 \
BASE_LB6 &kp DE_##LB5       &kp DE_##LB4       &kp DE_##LB3        &kp DE_##LB2        &kp DE_##LB1                        &kp DE_##RB1 &kp DE_##RB2        &kp DE_##RB3        &kp DE_##RB4       &kp DE_##RB5       &mt RSHFT DE_##RB6 \
                                                                                       BASE_LH               /**/          BASE_RH \
        >; \
    };

/ {
    keymap {
        compatible = "zmk,keymap";

        qwertz_layer {
            display-name = "QWERTZ";
            bindings = <
BASE_LT6 &kp DE_Q       &kp DE_W       &kp DE_E        &kp DE_R        &kp DE_T BASE_LT0 /**/ BASE_RT0 &kp DE_Z &kp DE_U        &kp DE_I        &kp DE_O       &kp DE_P                     UML_RT6 \
BASE_LM6 &hml LGUI DE_A &hml LALT DE_S &hml LSHFT DE_D &hml LCTRL DE_F &kp DE_G BASE_LM0 /**/ BASE_RM0 &kp DE_H &hmr RCTRL DE_J &hmr RSHFT DE_K &hmr RALT DE_L &mo_sl QWERTZ_UML QWERTZ_UML UML_RM6 \
BASE_LB6 &kp DE_Y       &kp DE_X       &kp DE_C        &kp DE_V        &kp DE_B                        &kp DE_N &kp DE_M        &kp DE_COMMA    &kp DE_DOT     &kp DE_MINUS                 UML_RB6 \
                                                                       BASE_LH           /**/          BASE_RH \
            >;
        };

        qwertz_umlauts_overlay_layer {
            display-name = "QWERTZ uml";
            bindings = <
___ ___              ___       ___ ___ ___ ___ /**/ ___ ___ &kp DE_U_UMLAUT ___ &kp DE_O_UMLAUT ___ ___
___ &kp DE_A_UMLAUT  &kp DE_SZ ___ ___ ___ ___ /**/ ___ ___ ___             ___ ___             ___ ___
___ ___              ___       ___ ___ ___                  ___ ___         ___ ___             ___ ___
                               ___ ___ ___                  ___ ___         ___
            >;
        };

        BASE_LAYER(
            qwertz_de,
            "QWERTZ de",
            Q, W, E, R, T,   Z, U, I,     O,   P,        U_UMLAUT,
            A, S, D, F, G,   H, J, K,     L,   O_UMLAUT, A_UMLAUT,
            Y, X, C, V, B,   N, M, COMMA, DOT, MINUS,    SHARP_S
        )

        colemak_layer {
            display-name = "Colemakish";
            bindings = <
BASE_LT6 &kp DE_Q       &kp DE_W       &kp DE_F        &kp DE_P        &kp DE_B BASE_LT0 /**/ BASE_RT0 &kp DE_J &kp DE_L        &kp DE_U        &kp DE_O       &kp DE_Z                       UML_RT6 \
BASE_LM6 &hml LGUI DE_A &hml LALT DE_R &hml LSHFT DE_S &hml LCTRL DE_T &kp DE_G BASE_LM0 /**/ BASE_RM0 &kp DE_M &hmr RCTRL DE_N &hmr RSHFT DE_E &hmr RALT DE_I &mo_sl COLEMAK_UML COLEMAK_UML UML_RM6 \
BASE_LB6 &kp DE_Y       &kp DE_X       &kp DE_C        &kp DE_V        &kp DE_B                        &kp DE_K &kp DE_H        &kp DE_COMMA    &kp DE_DOT     &kp DE_MINUS                   UML_RB6 \
                                                                       BASE_LH           /**/          BASE_RH \
            >;
        };

        colemak_umlauts_overlay_layer {
            display-name = "Colemakish uml";
            bindings = <
___ ___              ___ ___       ___ ___ ___ /**/ ___ ___ ___ &kp DE_U_UMLAUT &kp DE_O_UMLAUT ___ ___
___ &kp DE_A_UMLAUT  ___ &kp DE_SZ ___ ___ ___ /**/ ___ ___ ___ ___             ___             ___ ___
___ ___              ___ ___       ___ ___              ___ ___ ___             ___             ___ ___
                               ___ ___ ___              ___ ___ ___
            >;
        };

        // http://www.adnw.de/index.php?n=Main.OptimierungF%c3%bcrDieGeradeTastaturMitDaumen-Shift
        BASE_LAYER(
            but,
            "BUT",
            B, U, DOT,      COMMA,    U_UMLAUT,   P, C, L, M, F, X,
            H, I, E,        A,        O,          D, T, R, N, S, SHARP_S,
            K, Y, O_UMLAUT, A_UMLAUT, Q,          J, G, W, V, Z, MINUS  
        )

        num_nav_layer {
            display-name = "num_nav";
            bindings = <
&lt SYSTEM ESC     &kp KP_DIVIDE &kp DE_N7     &kp DE_N8     &kp DE_N9    &kp KP_MULTIPLY &kp KP_ENTER &kp PG_UP &kp ESC   &kp PG_UP      &kp UP     &kp PG_DN &kp DE_SZ    &kp MUTE_MIC
&mt LGUI TAB       &kp DE_DOT    &kp DE_N4     &kp DE_N5     &kp DE_N6    &kp KP_PLUS     &kp KP_DOT   &kp PG_DN &kp HOME  &kp LEFT       &kp DOWN   &kp RIGHT &kp END      &lt FUNCTION C_PP
&mt_kt LSHFT LSHFT &kp DE_N0     &kp DE_N1     &kp DE_N2     &kp DE_N3    &kp KP_MINUS                           &kp SPACE &kp HOME       &kp DEL    &kp END   &kp DE_UNDER &kp C_MUTE
                                               &mt LCTRL DEL &tog NUM_NAV &kp BSPC                               &kp SPC   &mt LALT BSPC  &mt RCTRL RET
            >;
        };

        symbol_layer {
            display-name = "symbol";
            // ╭----------┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----╮
            // |     §    |  ^  |  '  |  -  |  *  |  #  |  -  |  .  |  @  | "|" |  {  |  }  |  .  |  ,  |
            // | TAB->GUI |  !  |  "  |  :  |  =  |  $  |  _  |  ,  |  &  |  /  |  (  |  )  |  ?  |  ~  |
            // |   SHIFT  |  <  |  `  |  >  |  +  |  %  ├-----┴-----┤  €  |  \  |  [  |  ]  |  _  |  ;  |
            // ╰----------┴-----┴-----┤ ALT | CTRL| BSPC|           |  °  |     |MOUSE├-----┴-----┴-----╯
            //                        ╰-----┴-----┴-----╯           ╰-----┴-----┴-----╯
            bindings = <
&kp DE_SECT   &kp DE_CARET &kp DE_SQT   &kp DE_MINUS  &kp DE_STAR    &kp DE_HASH         &kp DE_MINUS &kp DE_DOT   &kp DE_AT    &kp DE_PIPE &kp  DE_LBRC &kp DE_RBRC &kp DE_DOT   &kp DE_COMMA
&mt LGUI TAB  &kp DE_EXCL  &kp DE_DQT   &kp DE_COLON  &kp DE_EQUAL   &kp DE_DLLR         &kp DE_UNDER &kp DE_COMMA &kp DE_AMPS  &kp DE_FSLH &kp  DE_LPAR &kp DE_RPAR &kp DE_QMARK &kp DE_TILDE
&kp LSHFT     &kp DE_LT    &kp DE_GRAVE &kp DE_GT     &kp DE_PLUS    &kp DE_PRCNT                                  &kp DE_EURO  &kp DE_BSLH &kp  DE_LBKT &kp DE_RBKT &kp DE_UNDER &kp DE_SEMI
                                        &mt LCTRL RET &mt LALT BSPC  &lt QWERTZ_NUM SPC                            &kp SPC      &tog SYMBOL &tog MOUSE
            >;
        };

        qwertz_num_layer {
            display-name = "QWERTZ num";
            bindings = <
&kp DE_CARET &kp DE_EXCL &kp DE_DQT  &kp DE_SECT   &kp DE_DLLR &kp DE_PRCNT ___  ___ &kp DE_AMPS &kp DE_FSLH &kp DE_LPAR  &kp DE_RPAR &kp DE_EQUAL &kp DE_QMARK
___          &kp DE_N1   &kp DE_N2   &kp DE_N3     &kp DE_N4   &kp DE_N5    ___  ___ &kp DE_N6   &kp DE_N7   &kp DE_N8    &kp DE_N9   &kp DE_N0    &kp DE_SHARP_S
&kp LSHFT    &kp DE_LT   &kp DE_PIPE &kp DE_TILDE  &kp DE_PLUS &kp DE_HASH           &kp DE_SEMI &kp DE_LBRC &kp DE_LBKT  &kp DE_RBKT &kp DE_RBRC  &kp DE_BSLH
                                     ___           ___         ___                   ___         ___         &kp DE_COLON
            >;
        };

        function_layer {
            display-name = "func";
            bindings = <
&kp ESC    &kp F12  &kp F7  &kp F8  &kp F9  &kp SS_WIN  XXX   XXX    &kp UNDO_ XXX        &kp COPILOT XXX       XXX      &kp MUTE_MIC
&kp CAPS   &kp F11  &kp F2  &kp F3  &kp F6  &kp SSS_WIN XXX   XXX    XXX       &kp RCTRL  &kp LALT    &kp RSHFT &kp RGUI &kp GLOBE
&caps_word &kp F10  &kp F1  &kp F2  &kp F3  &kp CSR_WIN              XXX       &kp PASTE_ &kp COPY_   &kp CUT_  XXX      &kp MUTE_MIC 
                            XXX     XXX     XXX                      &kp RALT  XXX        XXX   
            >;
        };

        mouse_layer {
            display-name = "mouse";
            bindings = <
XXX  &kp ESC  &msc SCRL_UP   &mmv MOVE_UP   &msc SCRL_DOWN  XXX              XXX        XXX    &kp UNDO_ XXX         XXX        XXX       XXX      XXX  
XXX  &mkp MB2 &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_RIGHT  &tog MOUSE XXX    XXX       &kp RCTRL   &kp LALT   &kp RSHFT &kp RGUI XXX  
XXX  &mkp MB5 &mkp MB4       &mkp MB2       &mkp MB1        &msc SCRL_LEFT                     &kp RALT  &kp PASTE_  &kp COPY_  &kp CUT_  XXX      XXX   
                             XXX            &mkp MB4        &mkp MB1                           &mkp MB2  &tog MOUSE  &tog MOUSE 
            >;
        };
        
        system_layer {
            display-name = "system";
            bindings = <
XXX  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4   XXX    XXX   &rgb_ug RGB_EFF &rgb_ug RGB_SAI   &rgb_ug RGB_BRI     &rgb_ug RGB_HUI    XXX             &tog QWERTZ_DE
XXX  &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3  &bt BT_DISC 4  XXX    XXX   &rgb_ug RGB_EFR &rgb_ug RGB_SAD   &rgb_ug RGB_BRD     &rgb_ug RGB_HUD    &rgb_ug RGB_TOG &tog COLEMAK
XXX  &td_sys_reset XXX           &td_bt_clr    &studio_unlock &td_bootloader              XXX             &rgb_ug COLOR_RED &rgb_ug COLOR_GREEN &rgb_ug COLOR_BLUE XXX             &tog BUT  
                                 XXX           XXX            XXX                         XXX             XXX               XXX  
            >;
        };
    };
};
