#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

#ifndef KEYMAP_DRAWER
#include "keys_de.h"
#include "rgb.h"

#define MUTE_MIC LG(LA(DE_K))

#define SCREENSHOT_WIN LG(PRINTSCREEN)
#define SS_WIN SCREENSHOT_WIN

#define SCREENSHOT_SELECT_WIN LG(LS(DE_S))
#define SSS_WIN SCREENSHOT_SELECT_WIN

#define CAPTURE_SCREEN_RECORDING_WIN LG(LS(DE_R))
#define CSR_WIN CAPTURE_SCREEN_RECORDING_WIN

#define COPILOT LG(LS(F23))

#endif // KEYMAP_DRAWER

#include "corne_choc_pro-labels.h"

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

&lt {
    tapping-term-ms = <280>; // default 200
};

&mt {
    tapping-term-ms = <280>; // default 200
    flavor = "balanced";
};

&caps_word {
    continue-list = <DE_UNDERSCORE DE_MINUS DE_O_UMLAUT DE_A_UMLAUT DE_U_UMLAUT DE_SHARP_S>;
};

#define STRINGIFY(x) #x

// layers
#define QWERTZ     0
#define COLEMAK_DH 1
#define NUM_NAV    2
#define SYMBOL     3
#define FUNCTION   4
#define MOUSE      5
#define SYSTEM     6

// see https://github.com/urob/zmk-config#timeless-homerow-mods

#define QUICK_TAP_MS 175

#define HOME_ROW_MOD(NAME, TRIGGER_POS)                        \
    NAME: NAME {                                               \
        compatible = "zmk,behavior-hold-tap";                  \
        #binding-cells = <2>;                                  \
        bindings = <&kp>, <&kp>;                               \
        flavor = "balanced";                                   \
        tapping-term-ms = <280>;                               \
        quick-tap-ms = <QUICK_TAP_MS>;                         \
        require-prior-idle-ms = <150>;                         \
        hold-trigger-on-release;                               \
        hold-trigger-key-positions = <TRIGGER_POS>;            \
    };

#define MORPH(NAME, FROM_KEY, TO_KEY, MODS)             \
    /omit-if-no-ref/ NAME: NAME {                       \
        compatible = "zmk,behavior-mod-morph";          \
        #binding-cells = <0>;                           \
        bindings = <&kp FROM_KEY>, <&kp TO_KEY>;        \
        mods = <(MODS)>;                                \
    };

#define MOD_ANY MOD_LSFT|MOD_RSFT|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI

#define TAP_DANCE_3(NAME, K1, K2, K3) \
    NAME: NAME {                                        \
        compatible = "zmk,behavior-tap-dance";          \
        #binding-cells = <0>;                           \
        tapping-term-ms = <200>;                        \
        bindings = <K1>, <K2>, <K3>;                    \
    };


/ {
    behaviors {
        HOME_ROW_MOD(hml, KEYS_RIGHT KEYS_THUMB)
        HOME_ROW_MOD(hmr, KEYS_LEFT KEYS_THUMB)

        MORPH(prev_next, C_PREV, C_NEXT, MOD_ANY)
        MORPH(spc_bspc, SPACE, BSPC, MOD_ANY)
        MORPH(bspc_spc, BSPC, SPACE, MOD_ANY)
        MORPH(ret_del, RET, DEL, MOD_ANY)
        MORPH(bspc_del, BSPC, DEL, MOD_ANY)

        TAP_DANCE_3(td_sys_reset, &none, &none, &sys_reset)
        TAP_DANCE_3(td_bt_clr, &none, &none, &bt BT_CLR)
        TAP_DANCE_3(td_tog_colemak, &none, &none, &tog COLEMAK_DH)
        TAP_DANCE_3(td_bootloader, &none, &none, &bootloader)

        /omit-if-no-ref/ mo_sl: momentary_sticky_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <QUICK_TAP_MS>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&sl>;
        };

        /omit-if-no-ref/ mt_sk: momentary_sticky_key {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <QUICK_TAP_MS>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&sk>;
        };

        /omit-if-no-ref/ mt_kt: toggle_or_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <QUICK_TAP_MS>;
            flavor = "hold-preferred";
            bindings = <&mt>, <&kt>;
        };
    };
};


// the default definitions for COPY, PASTE, CUT, UNDO are useless in anything but Linux
#define COPY_  LC(DE_C)
#define PASTE_ LC(DE_V)
#define CUT_   LC(DE_X)
#define UNDO_  LC(DE_Z)

// Base layers with different layouts, GASC/CASG home row mods and layer switches on the outside and thumbs
// 
// ╭-------------┬----------┬----------┬-----------┬-----------┬------┬----┬----┬-----┬-----------┬------------┬----------┬----------┬------------╮
// |   ESC->ALT  |    ...   |    ...   |    ...    |    ...    | ...  |    |    | ... |    ...    |     ...    |   ...    |    ...   |     ...    |
// |  TAB->SYMB  | ...->GUI | ...->ALT | ...->SHFT | ...->CTRL | ...  |    |    | ... | ...->CTRL |  ...->SHFT | ...->ALT | ...->GUI | ...->NUNA  |
// | SSHFT->SHFT |    ...   |    ...   |    ...    |    ...    | ...  ├----┴----┤ ... |    ...    |     ...    |   ...    |    ...   | ...->MOUSE |
// ╰-------------┴----------┴----------┤ RET->CTRL | SPC->NUNA | BSPC |         | SPC | RET->SYMB | BSPC->FUNC ├----------┴----------┴------------╯
//                                     ╰-----------┴-----------┴------╯         ╰-----┴-----------┴------------╯
// GASC left home row
#define HML(K0, K1, K2, K3, K4) &hml LGUI K0 &hml LALT K1 &hml LSHFT K2 &hml LCTRL K3 &kp K4
// CASG right home row
#define HMR(K0, K1, K2, K3, K4) &kp K0 &hmr RCTRL K1 &hmr RSHFT K2 &hmr RALT K3 &hmr RGUI K4
#define _BASE_ROW(K0, K1, K2, K3, K4) &kp K0 &kp K1 &kp K2 &kp K3 &kp K4

#define BASE_LAYER(NAME, DISPLAY_NAME, \
    LT5, LT4, LT3, LT2, LT1,  RT1, RT2, RT3, RT4, RT5, RT6, \
    LM5, LM4, LM3, LM2, LM1,  RM1, RM2, RM3, RM4, RM5, RM6, \
    LB5, LB4, LB3, LB2, LB1,  RB1, RB2, RB3, RB4, RB5, RB6  \
) \
    NAME ## _layer { \
        display-name = DISPLAY_NAME; \
        bindings = < \
            &mt LALT ESC       _BASE_ROW(DE_##LT5, DE_##LT4, DE_##LT3,      DE_##LT2,          DE_##LT1) &none /**/ &none _BASE_ROW(DE_##RT1, DE_##RT2, DE_##RT3, DE_##RT4, DE_##RT5) &kp DE_##RT6 \
            &lt SYMBOL TAB     HML      (DE_##LM5, DE_##LM4, DE_##LM3,      DE_##LM2,          DE_##LM1) &none /**/ &none HMR      (DE_##RM1, DE_##RM2, DE_##RM3, DE_##RM4, DE_##RM5) &lt NUM_NAV DE_##RM6 \
            &mt_sk LSHFT LSHFT _BASE_ROW(DE_##LB5, DE_##LB4, DE_##LB3,      DE_##LB2,          DE_##LB1)                  _BASE_ROW(DE_##RB1, DE_##RB2, DE_##RB3, DE_##RB4, DE_##RB5) &lt MOUSE DE_##RB6 \
                                                             &mt LCTRL RET  &lt NUM_NAV SPACE  &kp BSPC        /**/       &kp SPC  &lt SYMBOL RET  &lt FUNCTION BSPC \
        >; \
    };

/ {
    keymap {
        compatible = "zmk,keymap";

        // display names are 8 chars tops

        BASE_LAYER(
            qwertz,
            "qwertz",
            Q, W, E, R, T,   Z, U, I,     O,   P,        U_UMLAUT,
            A, S, D, F, G,   H, J, K,     L,   O_UMLAUT, A_UMLAUT,
            Y, X, C, V, B,   N, M, COMMA, DOT, MINUS,    SHARP_S
        )

        BASE_LAYER(
            colemak_dh,
            "colemak-dh",
            Q, W, F, P, B,   J, L, U,     Y,   A_UMLAUT, O_UMLAUT,
            A, R, S, T, G,   M, N, E,     I,   O,        U_UMLAUT,
            X, C, D, V, Z,   K, H, COMMA, DOT, MINUS,    SHARP_S
        )

        num_nav_layer {
            display-name = "num_nav";
            // ╭----------┬-----┬-----┬-----┬-----┬-----┬-----┬------┬------┬----------┬----------┬------┬------┬---------╮
            // | ESC->SYS |  /  |  7  |  8  |  9  |  *  | ENT | PGUP | ESC  |   PGUP   |    UP    | PGDN | BSPC | MUTEMIC |
            // | TAB->GUI |  .  |  4  |  5  |  6  |  +  |  ,  | PGDN | HOME |   LEFT   |   DOWN   |  RGT | END  |   PP    |
            // | tg SHFT  |  0  |  1  |  2  |  3  |  -  ├-----┴------┤ SPC  |   HOME   |    DEL   |  END |  _   |  MUTE   |
            // ╰----------┴-----┴-----┤ DEL |     | NUM |            | BSPC | RET->CTRL| SPC->ALT ├------┴------┴---------╯  
            //                        ╰-----┴-----┴-----╯            ╰------┴----------┴----------╯
            bindings = <
&lt SYSTEM ESC     &kp KP_DIVIDE &kp DE_N7     &kp DE_N8  &kp DE_N9  &kp KP_MULTIPLY &kp KP_ENTER &kp PG_UP &kp ESC   &kp PG_UP     &kp UP     &kp PG_DN &kp BSPC     &kp MUTE_MIC
&mt LGUI TAB       &kp DE_DOT    &kp DE_N4     &kp DE_N5  &kp DE_N6  &kp KP_PLUS     &kp KP_DOT   &kp PG_DN &kp HOME  &kp LEFT      &kp DOWN   &kp RIGHT &kp END      &kp C_PP
&mt_kt LSHFT LSHFT &kp DE_N0     &kp DE_N1     &kp DE_N2  &kp DE_N3  &kp KP_MINUS                           &kp SPACE &kp HOME      &kp DEL    &kp END   &kp DE_UNDER &kp C_MUTE
                                 &mt LCTRL DEL &none      &kp KP_NUM                                        &kp BSPC  &mt RCTRL RET &mt LALT SPC
            >;
        };

        symbol_layer {
            display-name = "symbol";
            // ╭----------┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----╮
            // |     §    |  ^  |  '  |  -  |  *  |  #  |  -  |  .  |  @  | "|" |  {  |  }  |  ´  |  °  |
            // | TAB->GUI |  !  |  "  |  :  |  =  |  $  |  _  |  ,  |  &  |  /  |  (  |  )  |  ?  |  ~  |
            // |   SHFT   |  <  |  `  |  >  |  +  |  %  ├-----┴-----┤  €  |  \  |  [  |  ]  |  _  |  ;  |
            // ╰----------┴-----┴-----┤ ALT | CTRL| BSPC|           | TAB |     |MOUSE├-----┴-----┴-----╯
            //                        ╰-----┴-----┴-----╯           ╰-----┴-----┴-----╯
            bindings = <
&kp DE_SECT  &kp DE_CARET &kp DE_SQT   &kp DE_MINUS  &kp DE_STAR   &kp DE_HASH  &kp DE_MINUS &kp DE_DOT   &kp DE_AT   &kp DE_PIPE &kp DE_LBRC &kp DE_RBRC &kp DE_ACUTE &kp DE_DEGREE
&mt LGUI TAB &kp DE_EXCL  &kp DE_DQT   &kp DE_COLON  &kp DE_EQUAL  &kp DE_DLLR  &kp DE_UNDER &kp DE_COMMA &kp DE_AMPS &kp DE_FSLH &kp DE_LPAR &kp DE_RPAR &kp DE_QMARK &kp DE_TILDE
&kp LSHFT    &kp DE_LT    &kp DE_GRAVE &kp DE_GT     &kp DE_PLUS   &kp DE_PRCNT                           &kp DE_EURO &kp DE_BSLH &kp DE_LBKT &kp DE_RBKT &kp DE_UNDER &kp DE_SEMI
                                       &mt LALT RET  &mt LCTRL SPC &kp BSPC                               &kp TAB     &none       &lt MOUSE SPC 
            >;
        };

        function_layer {
            display-name = "func";
            // ╭-------┬-----┬-----┬-----┬-----┬-------┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-------╮
            // |  ESC  | F12 | F7  | F8  | F9  | SSWIN |     |     | UNDO|     |COPIL|     |     |MUTEMIC|
            // | CAPS  | F11 | F4  | F5  | F6  | SSSWIN|     |     |     | CTRL| ALT | SHFT| GUI | GLOBE |
            // | CAPSW | F10 | F1  | F2  | F3  | CSRWIN├-----┴-----┤     | PAST| COPY| CUT |     |MUTEMIC|
            // ╰-------┴-----┴-----┤     |     |       |           | RALT|     |     ├-----┴-----┴-------╯
            //                     ╰-----┴-----┴-------╯           ╰-----┴-----┴-----╯
            bindings = <
&kp ESC    &kp F12  &kp F7  &kp F8  &kp F9  &kp SS_WIN  &none &none  &kp UNDO_ &none      &kp COPILOT &none     &none    &kp MUTE_MIC
&kp CAPS   &kp F11  &kp F2  &kp F3  &kp F6  &kp SSS_WIN &none &none  &none     &kp RCTRL  &kp LALT    &kp RSHFT &kp RGUI &kp GLOBE
&caps_word &kp F10  &kp F1  &kp F2  &kp F3  &kp CSR_WIN              &none     &kp PASTE_ &kp COPY_   &kp CUT_  &none    &kp MUTE_MIC 
                            &none   &none   &none                    &kp RALT  &none      &none 
            >;
        };

        mouse_layer {
            display-name = "mouse";
            // ╭-----┬------┬-------┬------┬-------┬------┬-----┬-----┬-----┬-----┬-----┬-----┬-----┬-----╮
            // |     |      | SCRUP |  UP  | SCRDN |      |     |     | UNDO|     |     |     |     |     |
            // |     |  MB1 |  LEFT | DOWN | RIGHT | SCRR |     |     | CTRL| ALT | SHFT| GUI |     |     |
            // |     |  MB4 |  MB5  |  MB3 |  MB2  | SCRL ├-----┴-----┤     | PAST| COPY| CUT |     |     |
            // ╰-----┴------┴-------┤      |       |      |           | RALT|     |     ├-----┴-----┴-----╯
            //                      ╰------┴-------┴------╯           ╰-----┴-----┴-----╯
            bindings = <
&none &none    &msc SCRL_UP   &mmv MOVE_UP   &msc SCRL_DOWN  &none            &none &none  &kp UNDO_ &none      &none     &none     &none    &none
&none &mkp MB1 &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_RIGHT  &none &none  &none     &kp RCTRL  &kp LALT  &kp RSHFT &kp RGUI &none
&none &mkp MB4 &mkp MB5       &mkp MB3       &mkp MB2        &msc SCRL_LEFT                &none     &kp PASTE_ &kp COPY_ &kp CUT_  &none    &none 
                              &none          &none           &none                         &kp RALT  &none      &none 
            >;
        };
        
        system_layer {
            display-name = "system";
            // ╭----┬-------┬------┬--------┬--------┬--------┬---┬---┬----------┬----------┬---------┬----------┬---------┬-----------╮
            // |    | BT1   | BT2  | BT3    |  BT4   | BT5    |   |   | RGB EFF+ | RGB SAT+ | RGB BR+ | RGB HUE+ |         | 3xTOG COL |
            // |    | BT-1  | BT-2 | BT-3   |  BT-4  | BT-5   |   |   | RGB EFF- | RGB SAT- | RGB BR- | RGB HUE- | RGB TOG |           |
            // |    | 3xRST |      | 3xBTCR | Unlock | 3xBOOT ├---┴---┤          | RGB red  | RGB gre | RGB blue |         |           |
            // ╰----┴-------┴------┤        |        |        |       |          |          |         ├----------┴---------┴-----------╯
            //                     ╰--------┴--------┴--------╯       ╰----------┴----------┴---------╯
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4   &none  &none &rgb_ug RGB_EFF &rgb_ug RGB_SAI   &rgb_ug RGB_BRI     &rgb_ug RGB_HUI    &none           &td_tog_colemak
&none  &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3  &bt BT_DISC 4  &none  &none &rgb_ug RGB_EFR &rgb_ug RGB_SAD   &rgb_ug RGB_BRD     &rgb_ug RGB_HUD    &rgb_ug RGB_TOG &none
&none  &td_sys_reset &none         &td_bt_clr    &studio_unlock &td_bootloader              &none           &rgb_ug COLOR_RED &rgb_ug COLOR_GREEN &rgb_ug COLOR_BLUE &none           &none
                                   &none         &none          &none                       &none           &none             &none
            >;
        };
    };
};
